.download {
	width: 100%;
	background-image: url('/images/download_phone.png');
	height: 848px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: end;
}
.download_container {
	width: 50%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	padding: 0 12px;
	gap: 24px;
}
.download_bullets {
	display: flex;
	flex-direction: column;
	gap: 12px;
	padding-left: 24px;
}

section.howitworks,
section.partner {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 48px 12px;
	margin-bottom: 72px;
}
section.howitworks {
	background: #e1f5ec;
}
.howitworks_container,
.partner_container {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 48px;
}
.howitworks_items {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	gap: 36px;
}
.howitworks_item {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.howitworks_item p {
	text-align: center;
}

.partner_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 12px;
}
.partner_logos {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 100%;
	gap: 36px;
}
.partner_logo {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 12px;
	padding: 0;
	transition: all 0.2s ease;
}
.partner_logo:hover {
	transform: scale(1.01);
}
.partner_logo img {
	width: 100%;
}
.footer_container {
	display: flex;
	justify-content: space-evenly;
	padding: 35px;
}
.footer_container a {
	text-decoration: none;
	color: black;
}
.footer_container a:hover {
	text-decoration: underline;
}
