.team_container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: start;
}

section {
	width: 100%;
	height: 700px;
	display: flex;
	justify-content: center;
}

span {
	height: 250px;
	width: 250px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
}

p {
	text-align: center;
	font-size: 20px;
}

.item_container {
	margin-top: 10px;
}

.item_container h2 {
	display: flex;
	justify-content: start;
	padding-top: 30px;
}

.item_container ul {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.description_container ul {
	padding: 17px 20px;
}
