main {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 72px 12px;
}
.team_container {
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: space-between;
	align-items: start;
	gap: 72px;
}
.team_container > p {
	width: 100%;
	font-size: 20px;
}
.team_items {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* flex-wrap: wrap; */
	gap: 36px;
}
.team_item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	gap: 12px;
	padding: 24px;
	border-radius: 12px;
	transition: all 0.3s ease;
}
.team_item:hover {
	transform: scale(1.02);
}
.team_item_img {
	height: 250px;
	width: 250px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	filter: saturate(0);
	transition: all 0.3s ease;
}
.team_item:hover .team_item_img {
	filter: saturate(1);
}
.team_item_content {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: start;
}
